* {
    padding: 0;
    margin: 0;
}

body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.header {
    background-color: #1f2932;
    color: white;
    height: 550px;
}

.website {
    font-size: 48px;
    font-weight: 900;
    color: #f9faf8;
}

a {
    text-decoration: none;
    font-size: 18px;
    color: #e5e7eb;
}

ul {
    list-style-type: none;
}

.header-logo {
    font-size: 24px;
    color: #f9faf8;
    font-weight: 900;

}

/* flex work */
body {
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    flex-direction: column;
    padding-left: 220px;
    padding-right: 220px;
}

.logo-links {
    padding-top: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

ul {
    display: flex;
    gap: 1.5rem;
}

.awesome-btn {
    flex: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.web{
    padding-right: 90px;
}

.header div img {
    height: 250px;
    width: 1070px;
    background-color: rgba(135, 135, 135, 0.85);
}
.primary-btn{
    background-color: #3882f6;
    font-size: 18px;
    color: white;
    height: 35px;
    width: 120px;
    font-weight:600;
    margin-top: 14px;
    border-radius: 7px;
    border:0cap;
}