* {
    padding: 0;
    margin: 0;
}

body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.header {
    background-color: #1f2932;
    color: white;
    height: 550px;
}

.container {
    height: 490px;
}

.header-text {
    font-size: 36px;
    color: #1f2937;
    font-weight: 900;
}

.website {
    font-size: 48px;
    font-weight: 900;
    color: #f9faf8;
}

a {
    text-decoration: none;
    font-size: 18px;
    color: #e5e7eb;
}

ul {
    list-style-type: none;
}

.header-logo {
    font-size: 24px;
    color: #f9faf8;
    font-weight: 900;

}

/* flex work */
body {
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    flex-direction: column;
    padding-left: 220px;
    padding-right: 220px;
}

.logo-links {
    padding-top: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

ul {
    display: flex;
    gap: 1.5rem;
}

.awesome-btn {
    flex: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.web {
    padding-right: 90px;
}

.header div img {
    height: 250px;
    width: 1070px;
    background-color: rgba(135, 135, 135, 0.85);
}

.primary-btn {
    background-color: #3882f6;
    font-size: 18px;
    color: white;
    height: 35px;
    width: 120px;
    font-weight: 600;
    margin-top: 14px;
    border-radius: 7px;
    border: 0cap;
}

/* container section display flex work here */

.header-text {
    display: flex;
    justify-content: center;
    margin-top: 40px;
    margin-bottom: 40px;
}

.items {
    display: flex;
    justify-content: center;
    gap: 40px;
}

.flow-images {
    display: flex;
    height: 175px;
    width: 170px;
    border: 4px solid rgb(48, 142, 237);
    border-radius: 15px;
    margin-bottom: 5px;
}

.i-text {
    max-width: 170px;
    text-align: center;
}

/* quote section code here */

.thor {
    height: 450px;
    background-color: #e5e7eb;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.quote {
    font-style: italic;
    font-size: 36px;
    color: #1f2937;
    font-weight: 300;
    max-width: 800px;
}

.author {

    margin-left: 500px;
    font-size: x-large;
    font-weight: bold;
}

.container-btn {
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.action-time {
    background-color: #3882f6;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 165px;
    width: 1080px;
    border-radius: 10px;
}

.call-text{
    color: white;
    font-weight: bold;
    font-size:x-large;
}

.sign-up-text{
    color: #f9faf8;
}

.primary-btn-f {
    background-color: #3882f6;
    font-size: 18px;
    color: white;
    height: 35px;
    width: 120px;
    font-weight: 600;
    border-radius: 7px;
    border: 2px solid;
}

.footer {
    height: 100px;
    background-color: #1f2932;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}